:root{
    --bg-color: #D4E6F1;
    --container-bg: #F2F4F4;
    --shadow-color: #B2BABB;
    --danger-alert: #721c24;
    --success-alert: #155724;
    --clean-btn: #F1948A;
    --clean-btn-hover: #EC7063;
    --edit-btn: #7DCEA0;
    --btn-bg: #B2BABB;
    --btn-hover: #5D6D7E;
    --text-color: #70706B;
    --transition: all 0.3s linear;
    --spacing: 0.2rem;
    --radius: 0.8rem;

}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
}

main{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
    margin: 15px;
    padding: 2px;
}
h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    letter-spacing: var(--spacing);
    
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 60rem;
    margin-top: 8rem;
}

.section-center{
    background-color: var(--container-bg);
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: var(--radius);
    padding: 5rem;
    
}

.alert {
    margin-bottom: 1rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    letter-spacing: var(--spacing);
}

.alert-danger {
    color: var(--danger-alert);
    background: #f8d7da;
}

.alert-success {
    color: var(--success-alert) ;
    background: #d4edda;
}

.form-control{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
}

#grocery{
    border-color: transparent;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding: 0.35rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    flex: 1 0 auto;
}
#grocery::placeholder{
    color: var(--text-color);
}

.submit-btn{
    background-color: var(--btn-bg);
    border-color: transparent;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    flex: 0 0 5rem;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: var(--btn-hover);
    color: #FFF;
}

.grocery-container{
    margin-top: 2rem;
    transition: var(--transition);
    visibility: hidden;
}
.show-container{
    visibility: visible;
}

.grocery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    text-transform: capitalize;
    transition: var(--transition);
}

.grocery-item:hover {
    color: hsl(210, 22%, 49%);
    background: hsl(210, 36%, 96%);
}

.title{
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--text-color);
    letter-spacing: var(--spacing);
    transition: var(--transition);
}

.grocery-item:hover .title {
    color: hsl(210, 22%, 49%);

}

.edit-btn,
.delete-btn {
    width: 20px;
    height: 20px;
    background: transparent;
    border-color: black;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    transition: var(--transition);
}

.edit-btn{
    background-image: url("/svg/pencil.svg");
    background-size: cover; 
    background-repeat: no-repeat; 
    border: none; 
}
.delete-btn{
    color: var(--edit-btn);
    background-image: url("/svg/trash.svg");
    background-size: cover; 
    background-repeat: no-repeat; 
    border: none;  
}

.clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-color: transparent;
    color: var(--clean-btn);
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 1.25rem;
}
  
.clear-btn:hover {
    color: var(--clean-btn-hover);
}

@media screen and (min-width:1024px) {
    h1{
        font-size: 5rem;
    }
    h3{
        font-size: 3rem;
    }
    .section-center {
      width: 95vw;
    }
}
